<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                <b>Gagan Khandate</b>
              </h1>
              <p style="text-align: center; font-weight: 100; font-family: 'Courier New', Courier, monospace;"> gagank at cs dot columbia dot edu</p>
              <p>
              I am a PhD student in <a href="https://www.cs.columbia.edu/"> Computer Science </a> at <a href="https://www.columbia.edu/s">Columbia University </a> advised by <a href="https://www.me.columbia.edu/faculty/matei-ciocarlie">Matei Ciocarlie</a> working on robot learning as a member of <a href="https://roam.me.columbia.edu/">Robotic Manipulation and Mobility Lab</a>, working on robot learning and reinforcement learning.
              <p>I believe that online learning methods leveraging simulation are critical for real world deployment and work on improving sample efficiency of online reinforcement learning particulary for robotics and manipulation tasks.</p>

              <p>
                Previously, I worked as a Research Engineer at <a href="http://www.systemantics.com/">Systemantics</a> where I primarily developed controls, kinematics and motion-planning firmware for serial and parallel collaborative industrial manipulators. I received my master's from Columbia University in Mechanical Engineering with a focus on Robotics and recieved my bachelor's from <a href="https://www.iitm.ac.in/">Indian Institute of Technology Madras</a> also in Mechanical Engineering with a minor in micro-electronics.</p>

              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/gagkhan">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=0MkmRKUAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/gagankhandate/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%; padding-top: 8%; text-align: center;" >
              <img style="width:60%;max-width:60%" alt="profile photo" src="images/gagan_profile.jpeg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
              <ul style="display:flex; flex-direction: column; gap: 5px;">
                <li> <span style="color: crimson;">NEW!</span> [2022-01] I will be interning at Meta Reality Labs for the upcoming summer!
                <li> [2022-05] Excited to be spending summer at Amazon Robotics AI, Boston.
                <li> [2022-02] <a href="https://arxiv.org/abs/2109.12720">Paper</a> on in-hand manipulation accepted to ICRA 2022 </li>
                <li> [2021-05] Invited talk on using <a href="https://youtu.be/YVLlM_xPSHE?list=PL6s_djlC2RASDPERDG5A4DXlfdWrbkA9v&t=857">tactile sensing for in-hand manipulation </a> at ViTac Workshop in ICRA 2021 </li>
                <li> [2021-03] Guest lecture on Model Predictive Control in our course on Robot Learning <a href="https://youtu.be/9hEKoT6rUug?t=1852"></a> </li>
                <li> [2020-05] <a href="https://arxiv.org/abs/2109.12720">Paper</a> on snake locomotion accepted to ICRA 2020 </li>
                <li> [2019-11] Lecture discussing a seminal paper on <a href="https://youtu.be/9hEKoT6rUug?t=1852">vision based grasping</a> in our course on robot learning. </li>
              </ul>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <p>

              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/images/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <div class="grow" style="padding: 10px;">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              <p></p>
              <br>
              {{ post.excerpt }}
            </td>
          </div>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work.
              </p>
            </td>
          </tr>
        </table> -->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/images/{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table> -->
      </td>
    </tr>
  </table>
</body>

</html>

